//Button styling
@mixin btn-stylin {
margin-top: 15px;
width: $width;
color: map-get($colors,'white');
border: none;
padding: 10px 0;
text-transform: uppercase;
border-radius: 5px;
}

//Images styling
@mixin center-stylin {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

@mixin img-space {
margin-top: 10px;
max-width: 100%;
}

//Theme color mapping
@mixin theme-colors($map) {
  @each $num-col, $color in $map{
    &-#{$num-col} {
    background-color: $color;
    }
  }
}

//Flex key mapping
@mixin flex-keys($keys) {
  @each $num-col-f, $flex-key in $col-flex{
    &-#{$num-col-f} {
      flex-basis: $flex-key ;
    }
  }
}

//Hover Effect  + transition, commented out prefer option 1.
// @mixin hovering($color) {
//   &:hover {
//     transition: .2s ease-in;
//     background-color: lighten(map-get($btn-colors, $color), 15%);
//   }
// }