/* ============================================= */
/*              Buttons                          */
/* ============================================= */

%btn {
    @include btn-stylin;
  }

.btn {
  transition: all 1s;
    @extend %btn;
    &.default {
    background-color: $btn-def;
    @include hovering('def');
    }
    &.error {
    background-color: $btn-err;
    @include hovering('err');
    }
    &.info {
    background-color: $btn-info;
    @include hovering('info');
    }
    &.success {
    background-color: $btn-suc;
    @include hovering('suc');
    }
    &.warning {
    background-color: $btn-warn;
    @include hovering('warn');
    }
}
     

